[Unit]
Description=Envoy solar reader systemd service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/dsmr/envoy_solar_reader          # Replace this with the directory which contains the application
ExecStart=./run.sh
StandardOutput=/var/log/envoy_solar_reader.log

[Install]
WantedBy=multi-user.target
